@page "/ingreso-dispositivos"
@inject HttpClient http
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager NavigationManager

<h3>Electronica</h3>
<EditForm Model="@smartphones" OnValidSubmit="@Guardar">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label for="NumeroSerie">Ingrese NumeroSerie:</label>
        <InputText id="NumeroSerie" @bind-Value="smartphones.Numserie" class="form-control" />
        <ValidationMessage For="() => smartphones.Numserie" />
    </div>
    <div class="form-group">
        <label for="Marca">Ingrese Marca:</label>
        <InputText id="Marca" @bind-Value="smartphones.Marca" class="form-control" />
        <ValidationMessage For="() => smartphones.Marca" />
    </div>
    <div class="form-group">
        <label for="Modelo">Ingrese Modelo:</label>
        <InputText id="Modelo" @bind-Value="smartphones.Modelo" class="form-control" />
        <ValidationMessage For="() => smartphones.Modelo" />
    </div>
    <div class="form-group">
        <label for="Sistemaoperativo">Ingrese Sistemaoperativo:</label>
        <InputText id="Sistemaoperativo" @bind-Value="smartphones.Sistemaoperativo" class="form-control" />
        <ValidationMessage For="() => smartphones.Sistemaoperativo" />
    </div>
    <div class="form-group">
        <label for="Numcamaras">Ingrese Numcamaras:</label>
        <InputText id="Numcamaras" @bind-Value="smartphones.Numcamaras" class="form-control" />
        <ValidationMessage For="() => smartphones.Numcamaras" />
    </div>
    <div class="form-group">
        <button type="Guardar" class="btn btn-primary">Guardar</button>
    </div>
    <p role="status">Datos ingresados: @datosingresados</p>
</EditForm>

@if (smartphones != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>NumeroSerie</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>SistemaOperativo</th>
                <th>NumeroCamaras</th>
                 <th>Editar</th> 
                <th>Borrar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var smartphone in smart)
            {
                <tr>
                    <td>@smartphone.Numserie</td>
                    <td>@smartphone.Marca</td>
                    <td>@smartphone.Modelo</td>
                    <td>@smartphone.Sistemaoperativo</td>
                    <td>@smartphone.Numcamaras</td>
                     <button class="btn btn-warning"
                            @onclick="@(() =>NavigationManager.NavigateTo($"/edicion/{smartphone.Numcamaras}"))">
                        Editar
                    </button> 
                    <td><button class="btn btn-danger" @onclick="@(()=>Borrar(smartphone.Numcamaras))">Eliminar</button></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Smartphones smartphones = new Smartphones();
    List<Smartphones> smart = new List<Smartphones>();
    private int datosingresados = 1;
    protected async Task Guardar()
    {
        smart.Add(smartphones);
        smartphones = new Smartphones();
        await localStorage.SetItemAsync("smartphones", smart);
        datosingresados++;
    }
    protected override async Task OnInitializedAsync()
    {
        smart = await localStorage.GetItemAsync<List<Smartphones>>("smartphones");
    }

    protected async Task Borrar(string Numcamaras)
    {
        Smartphones productoBorrar = smart.Find(c => c.Numcamaras == Numcamaras);
        smart.Remove(productoBorrar);
        await localStorage.SetItemAsync("smartphones", smart);
        datosingresados--;
    }
}
